<%- include('layout/header') %>

<h1 class="text-center">COURS</h1>

<%  cours.forEach((c) => { %>
    <div class="text-center">
        <H2>TITRE : <%= c.titre %></H2>
    
        <p><%= c.recette %></p>
    </div>
<% }) %>

<%- include('layout/footer') %>