<%- include('layout/header') %>

<h1 class="text-center">MERCI</h1>

<p class="text-center">Merci pour avoir...</p>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= cours.titre %></h5>
        <p class="card-text"><%= cours.recette %></p>
    </div>
</div>

<%- include('layout/footer') %>